<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./components/head') %>

</head>
<body>
   
        <%- include('./components/nav') %>
        
    <main>
        
        <section id="cards">
            
            <% ligadaslendas.forEach((Campeao) => { %>
            
            <div class="card">

                    <img class="imagem" src="<%= Campeao.imagemcard %> " alt=""> 
                    <h3> <%= Campeao.nome %> <h3>
                    <p class="descricao"> <%=Campeao.descricao %> </p>
                 
            </div>

            <% } ); %>
        </section>
    </main>

        <%- include('./components/footer') %>
    
</body>
</html>